/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
gatewayworker/vendor/workerman/_home_vagrant_Code_zbpt_gatewayworker_start.php.pid
gatewayworker/vendor/workerman/workerman.log
